h2{
  font-weight: 700;
  font-size: 2.5rem;
}
/* DOTS MENU
----------------------------------------*/
.lateralDots{
  position: fixed;
  top: 45%;
  left: 97%;
}
.dots{  
  text-align: left;
}
.dots ul{
  padding-left: 1em;
}
.dots ul li{
  list-style: none;
}
.dots ul li a{
  color: #BBBBBB;
  transition: all 0.8s;
}
.dots>ul li a:focus{
  color: #21315B;
  transition: all 0.8s;
}
.dots ul li a:active{
  color: #21315B;
  transition: all 0.3s;
}
.dots ul li a .svg-inline--fa{
  font-size: 0.8em;
}

/*HOME*/
#homeMISTI{
  background-color: #203F75;
  padding-top: 8em;
  color: #FFFFFF;
  height: 100vh;
  background-image: url(../img/mistiApplicants/brain_b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#homeMISTI h1{
  margin-top: 5em;
  text-align: center;
}
/*MIT segunda seccion*/
#MIT{
  background-image: url(../img/mistiApplicants/fondo_team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: justify;
  text-align-last: center; 
  height: 70vh;
}
#MIT img{
  width: 80%;
}
.logoWWMISTI, .logoMIT{
  margin-top: 9em;
  margin-bottom: 5em;
}
/*BENEFITS*/
#benefits{
  color: #21315B;
  height: 100vh;
}
.benefitsTl h2{
  margin-top: 2em;
  text-align: center !important;
}
.benefitsLogo img{
  width: 100%;
}
.bulletList1{
  margin-top: 4em;
}
.bulletList1 .svg-inline--fa.fa-w-16{
  width: 0.5em;
}
.bulletList1 ul li{
  list-style: none;
}
.bulletList1{
  text-indent: -0.8em;
}
/*about the internship*/
.shadowSeparatorInternship{
  -webkit-box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
  box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
}
.shadowSeparatorInternship:after{
  content: "";
  position: absolute;
  z-index: -1;
  top: 80%;
  height: 3em;
  left: -10%;
  right: -10%;
  background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(0,0,0, 0.1), rgba(255, 255, 255, 0.0) 60%);
  background: radial-gradient(ellipse at 50% -3%, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.0) 60%);
}
#internship{
  color: #21315B;
  padding-bottom: 3em;
}
#internship h2{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}
#internship img{
  width: 100%;
}
.bulletList2{
  margin-top: 4em; 
}
.bulletList2 ul li{
  list-style: none;
}
.bulletList2 .svg-inline--fa.fa-w-16{
  width: 0.5em;
}
.bulletList2{
  text-indent: -0.8em;
}
/*INTERN PROFILE*/
article{
  background-image: url(../img/knowMore/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#internProfile{
  color: #FFFFFF;
  padding-bottom: 4em;
}
#internProfile h2{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}
.techSkillTl{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.techSkills{
  text-align: center;  
}
.techSkills div:first-child{
  margin-left: 6em;
}
.techSkills div{
  margin-right: 3em;
}
.techSkills img{
  width: 70%;
  margin-bottom: 2em;
}
.visitRGbtn{
  margin-top: 4em;
}
.visitRGbtn p{
  padding: 0;
}
.visitRGbtn a{
  color: #21315B;
  border: 1px solid #E2E2E2;
  border-radius: 1em;
}
.visitRGbtn a:hover{
  color: #21315B;
  background-color: #E2E2E2;
}
/*MORE INFORMATION*/
#moreInfo{
  color: #FFFFFF;
  height: 80vh;
}
#moreInfo h2{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
}
#moreInfo ul{
  list-style: none;
}
#moreInfo ul li:hover{
  color: #FFFFFF;
}
#moreInfo a{
  color: #FFFFFF;
}
#moreInfo a:hover{
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-device-width: 320px){
  h2{
    font-size: 1.8em;
  }
  #MIT, #benefits, #internship, #internProfile, #moreInfo{
    height: auto;
  }
  #homeMISTI h1{ 
    margin-top: 2em;
    font-size: 2.4em;
  }
  #MIT{
    padding-bottom: 5em;
  }
  .logoWWMISTI{
    margin-top: 4em;
    margin-bottom: 0;
  }
  .logoMIT{
    margin-top: 2em;
  }
  .bulletList2 ul{
    padding: 0;
  }
  .visitRGbtn{
    margin-top: 2em;
  }
  .techSkillTl{
    margin-bottom: 1em;
  }
  .techSkills div{
    margin-right: 0;
    margin-left: 1.5em;
  }
  .techSkills div:first-child{
    margin-left: 1.5em;
  }
  .techSkills img{
    margin-bottom: 0;
    margin-top: 2em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.8em;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 20%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 1em;
  }
  #moreInfo{
    padding-bottom: 3em;
  }
  #moreInfo h2{
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  #moreInfo ul{
    margin-top: 2.5em;
    padding:0;
  }
}
@media only screen and (min-device-width: 321px) and (max-device-width: 375px){
  h2{
    font-size: 1.8em;
  }
  body{
    overflow-x: hidden;
  }
  #MIT, #benefits, #internship, #internProfile, #moreInfo{
    height: auto;
  }
  #homeMISTI h1{ 
    margin-top: 2em;
    font-size: 2.4em;
  }
  #MIT{
    padding-bottom: 5em;
  }
  .logoWWMISTI{
    margin-top: 4em;
    margin-bottom: 0;
  }
  .logoMIT{
    margin-top: 2em;
  }
  .bulletList2 ul{
    padding: 0;
  }
  .visitRGbtn{
    margin-top: 2em;
  }
  .techSkillTl{
    margin-bottom: 1em;
  }
  .techSkills div{
    margin-right: 0;
    margin-left: 1.5em;
  }
  .techSkills div:first-child{
    margin-left: 1.5em;
  }
  .techSkills img{
    margin-bottom: 0;
    margin-top: 2em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.8em;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 20%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 1em;
  }
  #moreInfo{
    padding-bottom: 3em;
  }
  #moreInfo h2{
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  #moreInfo ul{
    margin-top: 2.5em;
    padding:0;
  }
}
@media only screen and (min-device-width: 376px) and (max-device-width: 425px){
  h2{
    font-size: 1.8em;
  }
  #MIT, #benefits, #internship, #internProfile, #moreInfo{
    height: auto;
  }
  #homeMISTI h1{ 
    margin-top: 2em;
    font-size: 2.4em;
  }
  #MIT{
    padding-bottom: 5em;
  }
  .logoWWMISTI{
    margin-top: 4em;
    margin-bottom: 0;
  }
  .logoMIT{
    margin-top: 2em;
  }
  .bulletList2 ul{
    padding: 0;
  }
  .visitRGbtn{
    margin-top: 2em;
  }
  .techSkillTl{
    margin-bottom: 1em;
  }
  .techSkills div{
    margin-right: 0;
    margin-left: 1.5em;
  }
  .techSkills div:first-child{
    margin-left: 1.5em;
  }
  .techSkills img{
    margin-bottom: 0;
    margin-top: 2em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.8em;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 20%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 1em;
  }
  #moreInfo{
    padding-bottom: 3em;
  }
  #moreInfo h2{
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  #moreInfo ul{
    margin-top: 2.5em;
    padding:0;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 768px){
  .lateralDots{
    position: fixed;
    top: 45%;
    left: 94%;
  }
  .dots{  
    text-align: left;
  }
  .dots ul{
    padding-left: 1em;
  }
  .dots ul li{
    list-style: none;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.8s;
  }
  .dots>ul li a:focus{
    color: #21315B;
    transition: all 0.8s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 0.8em;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px){

}
