h1{
  font-size: 2.5rem;
}
h2{
  font-weight: 700;
  font-size: 2.8rem;
}
/* DOTS MENU
----------------------------------------*/
.lateralDots{
  position: fixed;
  top: 35%;
  left: 97%;
}
.dots{  
  text-align: left;
}
.dots ul{
  padding-left: 1em;
}
.dots ul li{
  list-style: none;
}
.dots ul li a{
  color: #BBBBBB;
  transition: all 0.8s;
}
.dots>ul li a:focus{
  color: #21315B;
  transition: all 0.8s;
}
.dots ul li a:active{
  color: #21315B;
  transition: all 0.3s;
}
.dots ul li a .svg-inline--fa{
  font-size: 1.8em;
}
/*HOME*/
#homeOurSolution{
  background-image: url(../img/ourSolution/portada_oursolution.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 23%;
  padding-top: 8em;
  color: #FFFFFF;
  height: 100vh;
}
#homeOurSolution h1{
  margin-top: 47%;
}
#homeOurSolution h5{
  text-align-last: center;
  letter-spacing: 0.06em;
}
#homeOurSolution button{
  margin-top: 1.4em;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius:0.5em;
  color: #FFFFFF;
  padding: 1em;
  transition: all 0.3s;
}
#homeOurSolution button:hover{
  background-color: #FFFFFF;
  color: #21315B;
  transition: all 0.3s;
  cursor: pointer;
}
#beneficiaries, 
#featuresBenefits, 
#eLearningCourse, 
#wwSoftware, 
#howItWorks{
  color: #21315B;
}
#beneficiaries h2,  
#eLearningCourse h2, 
#wwSoftware h2,
#howItWorks h2{
  margin-top: 2em;
  margin-bottom: 1em;
}
/*beneficiaries*/
.beneficiariesDescrip p{
  text-align: justify;
  text-align-last: center;
}
#beneficiaries .beneficiary img{
  width: 80%;
  margin: 3em 0 2em 2em;
  border-radius: 50%;
}
.beneficiary p{
  width: 90%;
  text-align: center;
  margin-left: 1em;
}
/*features and Benefits*/
#featuresBenefits{
  margin-bottom: 3em;
}
#featuresBenefits h2{
  margin-top: 3em;
  margin-bottom: 2em;
}
#featuresBenefits img{
  width: 100%;
}
#featuresBenefits .firstP p{
    text-align: center;
  }
#withWithout{
  margin-top: 2em;
}
#withWithout .without h3{
  text-align: right;
  padding-right: 3.5em;
  border-right: 3px solid #21315B;
}
#withWithout .with h3{
  text-align: left;
  padding-left: 2.5em;
}
.comparison{
  margin-left: 7em;
  margin-top: 3em;
}
.comparison p{
  padding-top: 3.5em;
}
.shadowSeparator{
  -webkit-box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
  box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
}
.shadowSeparator:after{
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  height: 5em;
  left: -10%;
  right: -10%;
  background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(0,0,0, 0.14), rgba(255, 255, 255, 0.0) 60%);
  background: radial-gradient(ellipse at 50% -3%, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.0) 60%);
}
.withoutL{
  text-align: right;
}
.withR p{
  border-left: 2px solid #E1E1E1;
}
.withR{
  margin-left: 1em;
}
/*how it works*/
#howItWorks{
  margin-bottom: 5em;
}
.autoFeedback{
  border: 2px solid #21315B;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 4em;
}
#howItWorks .howDescrip p{
  text-align-last: center;
}
.autoFeedback h5{
  padding-bottom: 0.6em;
  border-bottom: 2px solid #21315B;
  text-align:center;
}
.autoFeedback ul{
  padding-top: 1em;
  padding-left: 1em;
}
.autoFeedback li{
  text-align: justify;
  list-style: none;
  font-size: 0.95em;
}
#howItWorks h2{
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
#diagram img:first-child{
  width: 60%;
  height: 56em;
  margin: 4em 0 5em 15em;
}
#diagram img:last-child{
  width: 60%;
  height: 56em;
  margin: 4em 0 5em 15em;
}
/*elearning course*/
#eLearningCourse{
  margin-bottom: 3em;
}
#eLearningCourse h2{
  margin-bottom: 2em;
}
#eLearningCourse img{
  width: 100%;
}
#eLearningCourse ul{
  margin-top: 10em;
  list-style: none;
  margin-left: 1em;
  text-indent: -0.8em;
  margin-left: 8em;
  font-size: 1.2em;
}
/*software*/
#wwSoftware{
  margin-bottom: 4em;
}
#wwSoftware h2{
  margin-bottom: 2em;
}
#wwSoftware img{
  width: 100%;
  margin-left: 8em;
}
#wwSoftware ul{
  margin-top: 10em;
  list-style: none;
  margin-left: 5em;
  text-indent: -0.8em;
  padding-left:0;
  font-size: 1.2em;
}
.svg-inline--fa.fa-w-16{
  width: 0.5em;
}
@media only screen and (max-device-width: 320px){
  h2{
    font-size: 1.8em;
  }
  #homeOurSolution{
    background-image: url(../img/ourSolution/base_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6em;
    color: #FFFFFF;
    height: 100vh;
  }
  .feedback_loop{
    padding:0;
  }
  #homeOurSolution img{
    width: 110%;
    margin-left: -0.8em;
  }
  #homeOurSolution h1{
    font-size: 1.8em;
    margin-top: 1em;
  }
  #homeOurSolution h3{
    font-size: 1.2em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.8em;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 22%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots>ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 1.8em;
  }
  #beneficiaries .beneficiary img{
    width: 100%;
    margin: 3em 0 2em 0;
  }
  #featuresBenefits h2{
    margin-top: 2em;
    font-size: 1.75em;
  }
  #featuresBenefits .firstP p{
    text-align: justify;
    text-align-last: center; 
  }
  #featuresBenefits img{
    width: 80%;
  }
  .comparison{
    margin-left: 0;
    margin-top: 1em;
    font-size: 0.8em;
  }
  .comparison:last-child{
    margin-bottom: 3em;
  }
  .comparison div{
    padding:0;
  }
  .comparison h5{
    text-align: center;
  }
  .comparison p{
    padding: 0 0.5em 0 0.5em;
  }
  .comparison p{
    text-align: center;
  }
  #eLearningCourse h2 ,#wwSoftware h2{
    font-size: 1.75em;
  }
  .withoutL{
    margin-left:-0.6em;
  }
  .withR{
    margin-left: 0;
  }
  #diagram img:last-child{
    width: 100%;
    height: 46em;
    margin: 4em 0 3.5em 0;
  }
  /*elearning course*/
  #eLearningCourse h2{
    margin-bottom: 2em;
  }
  #eLearningCourse img{
    width: 100%;
  }
  #eLearningCourse ul{
    margin-top: 0;
    list-style: none;
    margin-left: 0.5em;
    margin-bottom: 1.8em;
    text-indent: -0.8em;
    font-size: 0.95em;
    padding-left: 0.8em;
  }
  /*software*/
  #wwSoftware h2{
    margin-top: 3em;
    margin-bottom: 2em;
  }
  #wwSoftware img{
    width: 100%;
    margin-left: 0;
  }
  #wwSoftware ul{
    margin-top: 2em;
    list-style: none;
    margin-left: 0.8em;
    text-indent: -0.8em;
    padding-left: 0;
    font-size: 0.95em;
  }
  #howItWorks h2{
    margin-top: 2em;
  }
  #howItWorks p{
    text-align: justify;
  }
}
@media only screen and (min-device-width: 321px) and (max-device-width: 375px){
  h2{
    font-size: 1.8em;
  }
  #homeOurSolution{
    background-image: url(../img/ourSolution/base_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6em;
    color: #FFFFFF;
    height: 100vh;
  }
  .feedback_loop{
    padding:0;
  }
  #homeOurSolution img{
    width: 100%;
    margin-left: 0em;
  }
  #homeOurSolution h1{
    font-size: 1.8em;
    margin-top: 1em;
  }
  #homeOurSolution h3{
    font-size: 1.2em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.8em;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 27%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 1.8em;
  }
  #featuresBenefits h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  #featuresBenefits h2{
    margin-top: 2em;
    font-size: 1.75em;
  }
  #featuresBenefits .firstP p{
    text-align: justify;
    text-align-last: center; 
  }
  #featuresBenefits img{
    width: 60%;
  }
  .comparison{
    margin-left: 0;
    margin-top: 0;
    font-size: 0.8em;
  }
  .comparison:last-child{
    margin-bottom: 3em;
  }
  .comparison div{
    padding:0;
  }
  .comparison h5{
    text-align: center;
  }
  .comparison p{
    padding: 0 0.5em 0 0.5em;
  }
  .comparison p{
    text-align: center;
  }
  #eLearningCourse h2 ,#wwSoftware h2{
    font-size: 1.75em;
  }
  .firstP p{
    margin-bottom: 0;
  }
  .withoutL{
    margin-left:-0.6em;
  }
  .withR{
    margin-left: 0;
  }
  #diagram img:last-child{
    width: 100%;
    height: 51em;
    margin: 4em 0 3.5em 0;
  }
  /*elearning course*/
  #eLearningCourse h2{
    margin-bottom: 2em;
  }
  #eLearningCourse img{
    width: 100%;
  }
  #eLearningCourse ul{
    margin-top: 0;
    list-style: none;
    margin-left: 0.5em;
    margin-bottom: 1.8em;
    text-indent: -0.8em;
    font-size: 0.95em;
    padding-left: 0.8em;
  }
  /*software*/
  #wwSoftware h2{
    margin-top: 3em;
    margin-bottom: 2em;
  }
  #wwSoftware img{
    width: 100%;
    margin-left: 0;
  }
  #wwSoftware ul{
    margin-top: 2em;
    list-style: none;
    margin-left: 0.8em;
    text-indent: -0.8em;
    padding-left: 0;
    font-size: 0.95em;
  }
  #howItWorks h2{
    margin-top: 2em;
  }
  #howItWorks p{
    text-align: justify;
  }
}
@media only screen and (min-device-width: 376px) and (max-device-width: 425px){
  h2{
    font-size: 1.8em;
  }
  #homeOurSolution{
    background-image: url(../img/ourSolution/base_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6em;
    color: #FFFFFF;
    height: 100vh;
  }
  .feedback_loop{
    padding:0;
  }
  #homeOurSolution img{
    width: 100%;
    margin-left: 0;
  }
  #homeOurSolution h1{
    font-size: 1.8em;
    margin-top: 1em;
  }
  #homeOurSolution h3{
    font-size: 1.2em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.9em;
    z-index: 10;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 29%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 1.8em;
  }
  #featuresBenefits h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  #featuresBenefits h2{
    margin-top: 2em;
    font-size: 1.75em;
  }
  #featuresBenefits .firstP p{
    text-align: justify;
    text-align-last: center; 
  }
  #featuresBenefits img{
    width: 60%;
  }
  .comparison{
    margin-left: 0;
    margin-top: 0;
    font-size: 0.8em;
  }
  .comparison:last-child{
    margin-bottom: 3em;
  }
  .comparison div{
    padding:0;
  }
  .comparison h5{
    text-align: center;
  }
  .comparison p{
    padding: 0 0.5em 0 0.5em;
  }
  .comparison p{
    text-align: center;
  }
  #eLearningCourse h2 ,#wwSoftware h2{
    font-size: 1.75em;
  }
  .firstP p{
    margin-bottom: 0;
  }
  .withoutL{
    margin-left:-0.6em;
  }
  .withR{
    margin-left: 0;
  }
  #diagram img:last-child{
    width: 100%;
    height: 54em;
    margin: 4em 0 3.5em 0;
  }
  /*elearning course*/
  #eLearningCourse h2{
    margin-bottom: 2em;
  }
  #eLearningCourse img{
    width: 100%;
  }
  #eLearningCourse ul{
    margin-top: 0;
    list-style: none;
    margin-left: 0.5em;
    margin-bottom: 1.8em;
    text-indent: -0.8em;
    font-size: 0.95em;
    padding-left: 0.8em;
  }
  /*software*/
  #wwSoftware h2{
    margin-top: 3em;
    margin-bottom: 2em;
  }
  #wwSoftware img{
    width: 100%;
    margin-left: 0;
  }
  #wwSoftware ul{
    margin-top: 2em;
    list-style: none;
    margin-left: 0.8em;
    text-indent: -0.8em;
    padding-left: 0;
    font-size: 0.95em;
  }
  #howItWorks h2{
    margin-top: 2em;
  }
  #howItWorks p{
    text-align: justify;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 768px){
  h2{
    font-size: 1.8em;
  }
  .lateralDots{
    position: fixed;
    top: 45%;
    left: 94%;
  }
  .dots{  
    text-align: left;
  }
  .dots ul{
    padding-left: 1em;
  }
  .dots ul li{
    list-style: none;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.8s;
  }
  .dots>ul li a:focus{
    color: #21315B;
    transition: all 0.8s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 1.8em;
  }
  #beneficiaries .beneficiary img {
    width: 80%;
    margin: 3em 0 2em 1.5em;
    border-radius: 50%;
  }
  /*features and Benefits*/
  #featuresBenefits h2{
    margin-bottom: 2em;
    margin-top: 2em;
  }
  #featuresBenefits img{
    width: 80%;
  }
  #featuresBenefits .firstP p{
      text-align: center;
    }
  #withWithout{
    margin-top: 2em;
  }
  #withWithout .without, #withWithout .with{
    left: 1.5em;
  }  
  #withWithout .without h3 {
    padding-right: 3em;
    margin-right: 1em;
  }
  #withWithout .with h3 {
    padding-left: 1.5em;
  }
  .comparison{
    margin-left:0;
    margin-top: 4em;
    font-size: 0.95em;
  }
  .comparison p{
    padding-top: 2.7em;
  }
  .shadowSeparator{
    -webkit-box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
    box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
  }
  .shadowSeparator:after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    height: 5em;
    left: -10%;
    right: -10%;
    background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(0,0,0, 0.14), rgba(255, 255, 255, 0.0) 60%);
    background: radial-gradient(ellipse at 50% -3%, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.0) 60%);
  }
  #beneficiaries h2, 
  #eLearningCourse h2, 
  #wwSoftware h2, 
  #howItWorks h2 {
    margin-top: 3em;
    margin-bottom: 2em;
  }
  /*elearning course*/
  #eLearningCourse ul{
    margin-top: 1em;
    list-style: none;
    text-indent: -0.8em;
    margin-left: 0;
    font-size: 0.95em;
  }
  /*software*/
  #wwSoftware h2{
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #wwSoftware img{
    width: 100%;
    margin-left: 0;
  }
  #wwSoftware ul{
    margin-top: 3em;
    list-style: none;
    margin-left: 2em;
    text-indent: -0.8em;
    padding-left:0;
    font-size: 0.95em;
  }
  .svg-inline--fa.fa-w-16{
    width: 0.5em;
  }
  #diagram img:first-child{
    width: 90%;
    height: 55em;
    margin: 4em 0 5em 2em;
  }
}
