h2{
  font-weight: 700;
  font-size: 2.5rem;
}
/* DOTS MENU
----------------------------------------*/
.lateralDots{
  position: fixed;
  top: 45%;
  left: 97%;
}
.dots{  
  text-align: left;
}
.dots ul{
  padding-left: 1em;
}
.dots ul li{
  list-style: none;
}
.dots ul li a{
  color: #BBBBBB;
  transition: all 0.8s;
}
.dots>ul li a:focus{
  color: #21315B;
  transition: all 0.8s;
}
.dots ul li a:active{
  color: #21315B;
  transition: all 0.3s;
}
.dots ul li a .svg-inline--fa{
  font-size: 0.8em;
}
/* HOME
----------------------------------------*/
#researchGroup{
  background-image: url('../img/ourRD/fondo_pag_ini_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#researchGroup .tl{
  display: flex;
  align-items: center;
  padding-top: 42vh;
  margin-top: 3em;
  left: -10em;
}
.tl h1{
  color: #FFFFFF;
}
.tl h2{
  color: #FFFFFF;
  font-size: 2em;
}
.tl img{
  width: 70%;
}

/* OUR QUESTION
----------------------------------------*/
#ourQuestion{
  color: #21315B;
  background-image: url('../img/ourRD/paper.png');
  background-size: 80%;
  background-position: 8% 68%;
  background-repeat: no-repeat;
  height: 110vh;
}
.questionsDescrip{
  text-align: center;
}
.shadowSeparator{
  -webkit-box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
  box-shadow: 0 12px 28px -19px rgba(0,0,0,0.1);
  height: 10vh;
}
.shadowSeparator:after{
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  height: 5em;
  left: -10%;
  right: -10%;
  background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(0,0,0, 0.14), rgba(255, 255, 255, 0.0) 60%);
  background: radial-gradient(ellipse at 50% -3%, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.0) 60%);
}
#ourQuestion h2{
  margin-top: 2em;
  margin-bottom: 1em;
}
.question{
  background-color: #FFFFFF;
  padding: 1em;
  -webkit-box-shadow: -24px 4px 70px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -24px 4px 70px -24px rgba(0,0,0,0.75);
  box-shadow: -24px 4px 70px -24px rgba(0,0,0,0.75);
  left: 4em;
}
.question:first-child{
  margin-top: 3em;
}
.question p{
  margin: 0;
  margin-bottom: 1.5em;
  margin-left: 1em;
  text-indent: -1.4em;
}
.question .svg-inline--fa{
  font-size: 0.6em;
  vertical-align: middle;
}
.question p:first-child{
  margin-top: 1em;
}
/* OUR R+D+i
----------------------------------------*/
#ourRD{
  color: #21315B;
  height: auto;
}
#ourRD h2{
  margin-top: 2em;
  margin-bottom: 1em;
}
.infoBtn{
  margin-bottom: 4em;
}
.textInfo{
  margin-bottom: 8em;
}
.rdBtn{
  margin-bottom: 5em;
  padding-bottom: 2em;
  border: none;
  margin: 0.8em;
  border-radius: 0;
}
.rdBtn img{
  filter: opacity(0.8);
}
.rdBtn:first-child{
  margin-left: 9em;
}
.rdDescrip{
  text-align-last: center;
  margin-bottom: 4em;
}
.rdBtn a{
  color: #2B417B;
}
.activeBtn{
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 1em;
  -webkit-box-shadow: 1px -16px 80px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -16px 80px -30px rgba(0,0,0,0.75);
  box-shadow: 1px -16px 80px -30px rgba(0,0,0,0.75);
}
.activeBtn img{
  filter: opacity(1);
}
#information{
  height: auto;
}
#LSTM{
  margin-top: 4em;
}
#LSTM, #arqui{
  border-bottom: 1px solid #BBBBBB;
  padding-bottom: 1em;
}
#LSTM img, #arqui img, #gow img{
  width: 60%;
  margin-left: 12em;
  margin-bottom: 2em;
}
#arqui img{
  margin-bottom: 3em;
}
#arqui img, #gow img{
  margin-top: 5em;
}
#sistEtiquetado img, 
#modeloDiscursivo img{
  width:80%;
  margin-left: 5em;
  margin-top: 3em;
  margin-bottom: 2em;
}
#sistEtiquetado{
  border-bottom: 1px solid #BBBBBB;
  padding-bottom: 1em;
}
#networkNodes img{
  width: 80%;
}
/* OUR TEAM
----------------------------------------*/
#ourTeam{
  background-image: url('../img/knowMore/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding-bottom: 7em;
}
#ourTeam h2{
  margin-top: 2em;
  margin-bottom: 1em;
}
.teamDescrip{
  text-align-last: center;
  margin-bottom: 2em;
}
#ourTeam .teamList{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #FFFFFF;
  height: 3.5em;
  text-align: center;
}
#ourTeam .teamList a{
  color: #FFFFFF;
  font-weight: 600;
  padding: 0.5em 0 0.5em 0;
}
#ourTeam .teamList:first-child, 
#ourTeam .teamList:last-child{
  padding-top: 1em;
}
#ourTeam .teamList:last-child{
  padding-top: 1em;
  border-right: none;
}
#ourTeam .teamList a:active{
  color: #E7DA91;
}
#ourTeam .teamList a:focus{
  outline: none;
  color: #E7DA91;
}
#ourTeam .teamList a:hover{
  text-decoration: none;
  color:#D8D8D8;
  cursor: pointer;
  text-decoration-line: 
}
.menuTeam{
  margin-bottom: 3em;
  text-align: center;
}

/*CARD TEAM*/
#associatedCard1{
  margin-left: 9.5em;
}
#team .card, #team_others .card{
  border: none;
  margin-top: 2em;
  margin-right: 1em;
  margin-right: 1.5em;
  padding: 0;
  transition: 0.5s;
  background-color: transparent;
  text-align: center;
}
#team .card:hover{
  -webkit-box-shadow: 0px 27px 55px -33px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 27px 55px -33px rgba(0,0,0,0.4);
  box-shadow: 0px 27px 55px -33px rgba(0,0,0,0.4);
  background-color: rgba(16,34,70,0.11);
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.5s;
}
#team .card:hover .card-img-top{
  filter:brightness(0.6);
  transition: 0.5s;
}
#team .card:hover .iconRRSS,
#team .card:hover .wwContact,
#team .card:hover .btnProfile{
  display: block;
  transition: 0.5s;
}
#team .wwContact {
  position: absolute;
  display: none;
  top: 52%;
  left: auto;
  right: auto;
  color: #FFFFFF;
}
#team .wwContact a{
  color:#FFFFFF;
}
#team .iconRRSS{
  left: 1.8em;
}
#team .card-body{
  padding: 0.8em 0.2em;
}
#team .card h3{
  font-size: 1em;
  font-weight: 600;
}
#team .card p{
  font-size: 0.9em;
}
#team_others{
  width: 100%; 
  margin-left: 9em;
  margin-top: 1em;
}
#team_others .lastCardRow{
  margin-left: 14em;
}
.otherResearchersCard, .collaboratorsCard{
  border: 1px solid #FFFFFF;
  border-radius: 1em;
  margin: 1em;
  padding: 0;
}
.otherResearchersCard h5,
.collaboratorsCard h5{
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 1em;
  text-align: center;
}
#team_others .otherResearchersCard .card,
#team_others .collaboratorsCard .card{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding:;
}
.otherResearchersCard p,
.collaboratorsCard p{
  text-align: justify;
  font-size: 0.95em;
}
.collaboratorsCard:first-child p,
.collaboratorsCard:last-child p{
  font-size: 0.85em;
}
.btnProfile {
  position: absolute;
  display: none;
  top: 75%;
  left: 0.5em;
  right: auto;
}
/* MEDIA QUERIES
----------------------------------------*/
@media only screen and (max-device-width: 320px){
  h2{
    font-size: 1.8em;
  }
  #researchGroup{
    background-image: url('../img/ourRD/fondo_pag_ini_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% top;
    height: 100vh;
  }
  #researchGroup .tl{
    display: flex;
    align-items: center;
    padding-top: 30em;
    margin-top: 3em;
    left: -10em;
  }
  .tl h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.8em;
  }
  .tl h2{
    color: #FFFFFF;
    font-size: 1.4em;
  }
  .tl span{
    font-size: 1.2em;
  }
  .tl img{
    width: 100%;
  }
  .question{
    left: 0;
    margin-left: 0;
  }
  .questionsDescrip{
    text-align: justify;
  }
  #ourQuestion{
    height: auto;
  }
  .rdDescrip {
    margin-bottom: 1em;
  }
  #LSTM{
    margin-top: 4em;
  }
  #LSTM, #arqui{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 1em;
  }
  #LSTM img, #arqui img, #gow img{
    width: 100%;
    margin-left: 0;
    margin-bottom: 1em;
    padding-bottom: 2em;
  }
  #arqui img{
    margin-bottom: 3em;
  }
  #arqui img, #gow img{
    margin-top: 5em;
  }
  #sistEtiquetado img, 
  #modeloDiscursivo img{
    width:100%;
    margin-left: 0;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  #sistEtiquetado{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 1em;
  }
  #networkNodes img{
    width: 100%;
    margin-left: -2em;
  }
  #machineLearning img,
  #rhetoricDiscourse img,
  #naturalLanguage img{
    width: 100%;
    margin-bottom: 1em;
  }
  #naturalLanguage img{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #naturalLanguage{
    margin-bottom: 6em;
  }
  #machineLearning h5,
  #rhetoricDiscourse h5,
  #naturalLanguage h5{
    text-align: center;
    font-weight: 600;
  }
  #machineLearning h6,
  #rhetoricDiscourse h6,
  #naturalLanguage h6{
    text-align: center;
    margin-bottom: 2em;
    font-weight: 600;
  }
  #ourTeam .teamList{
    line-height: 2em;
    height: auto;
    border: none;
    text-align: left;
    font-size: 0.8em;
  }
  #ourTeam .teamList a{
    color: #FFFFFF;
    font-weight: 600;
    padding: 0.5em 0 0.5em 0;
    text-align: left;
  }
  #ourTeam .teamList:first-child, 
  #ourTeam .teamList:last-child{
    padding-top: 0;
  }
  #ourTeam .teamList:last-child{
    padding-top: 0;
  }
  #ourTeam .teamList a:focus{
    outline: none;
    color: #E7DA91;
  }
  #ourTeam .teamList a:focus span{
    background-color: #E7DA91;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    border-radius: 50%;
    left: -0.3em;
    top: 0.65em;
  }
  #ourTeam .teamList a:hover{
    text-decoration: none;
    cursor: pointer;
  }
  .menuTeam{
    margin-bottom: 3em;
    text-align: left;
    padding-left: 0;
  }
  #associatedCard1{
    margin-left: 0;
  }
  #team_others{
    width: 100%; 
    margin-left: 0;
    margin-top: 1em;
  }
  #team_others .card{
    left: 0;
  }
  #team_others .lastCardRow{
    margin-left: 0;
  }
  .otherResearchersCard, .collaboratorsCard{
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    padding: 0;
  }
  .otherResearchersCard h5,
  .collaboratorsCard h5{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 1em;
    text-align: center;
  }
  #team_others .otherResearchersCard .card,
  #team_others .collaboratorsCard .card{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding:;
  }
  .otherResearchersCard p,
  .collaboratorsCard p{
    text-align: justify;
    font-size: 0.95em;
  }
  .collaboratorsCard:first-child p{
    font-size: 0.85em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.8em;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 30%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots>ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 0.8em;
  }
}
@media only screen and (min-device-width: 321px) and (max-device-width: 375px){
  h2{
    font-size: 1.8em;
  }
  #researchGroup{
    background-image: url('../img/ourRD/fondo_pag_ini_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    height: 100vh;
  }
  #researchGroup .tl{
    display: flex;
    align-items: center;
    padding-top: 30em;
    margin-top: 3em;
    left: -10em;
  }
  .tl h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.9em;
  }
  .tl h2{
    color: #FFFFFF;
    font-size: 1.5em;
  }
  .tl span{
    font-size: 1.2em;
  }
  .tl img{
    width: 100%;
  }
  .question{
    left: 0;
    margin-left: 0;
  }
  .questionsDescrip{
    text-align: justify;
  }
  #ourQuestion{
    height: auto;
  }
  .rdDescrip {
    margin-bottom: 1em;
  }
  #LSTM{
    margin-top: 4em;
  }
  #LSTM, #arqui{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 1em;
  }
  #LSTM img, #arqui img, #gow img{
    width: 100%;
    margin-left: 0;
    margin-bottom: 1em;
    padding-bottom: 2em;
  }
  #arqui img{
    margin-bottom: 3em;
  }
  #arqui img, #gow img{
    margin-top: 5em;
  }
  #sistEtiquetado img, 
  #modeloDiscursivo img{
    width: 100%;
    margin-left: 0;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  #sistEtiquetado{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 1em;
  }
  #networkNodes img{
    width: 100%;
    margin-left: -2em;
  }
  #machineLearning .iconInfoMd img,
  #rhetoricDiscourse .iconInfoMd img,
  #naturalLanguage .iconInfoMd img{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1em;
  }
  #naturalLanguage img{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #naturalLanguage{
    margin-bottom: 6em;
  }
  #machineLearning h5,
  #rhetoricDiscourse h5,
  #naturalLanguage h5{
    text-align: center;
    font-weight: 600;
  }
  #machineLearning h6,
  #rhetoricDiscourse h6,
  #naturalLanguage h6{
    text-align: center;
    margin-bottom: 2em;
    font-weight: 600;
  }
  #ourTeam .teamList{
    line-height: 2em;
    height: auto;
    border: none;
    text-align: left;
  }
  #ourTeam .teamList a{
    color: #FFFFFF;
    font-weight: 600;
    padding: 0.5em 0 0.5em 0;
    text-align: left;
    font-size: 0.9em;
  }
  #ourTeam .teamList:first-child, 
  #ourTeam .teamList:last-child{
    padding-top: 0;
  }
  #ourTeam .teamList:last-child{
    padding-top: 0;
  }
  #ourTeam .teamList a:active{
    color: #E7DA91;
  }
  #ourTeam .teamList a:focus{
    outline: none;
    color: #E7DA91;
  }
  #ourTeam .teamList a:focus span{
    background-color: #E7DA91;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    border-radius: 50%;
    left: -0.3em;
    top: 0.85em;
  }
  #ourTeam .teamList a:hover{
    text-decoration: none;
    cursor: pointer;
  }
  .menuTeam{
    margin-bottom: 3em;
    text-align: left;
    padding-left: 0;
  }
  .menuTeam{
    margin-bottom: 3em;
  }
  #associatedCard1{
    margin-left: 0;
  }
  #team_others{
    width: 100%; 
    margin-left: 0;
    margin-top: 1em;
  }
  #team_others .card{
    left: 0;
  }
  #team_others .lastCardRow{
    margin-left: 0;
  }
  .otherResearchersCard, .collaboratorsCard{
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    padding: 0;
  }
  .otherResearchersCard h5,
  .collaboratorsCard h5{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 1em;
    text-align: center;
  }
  #team_others .otherResearchersCard .card,
  #team_others .collaboratorsCard .card{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding:;
  }
  .otherResearchersCard p,
  .collaboratorsCard p{
    text-align: justify;
    font-size: 0.95em;
  }
  .collaboratorsCard:first-child p{
    font-size: 0.85em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.8em;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 30%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 0.8em;
  }
}
@media only screen and (min-device-width: 376px) and (max-device-width: 425px){
  h2{
    font-size: 1.8em;
  }
  #researchGroup{
    background-image: url('../img/ourRD/fondo_pag_ini_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    height: 100vh;
  }
  #researchGroup .tl{
    display: flex;
    align-items: center;
    padding-top: 26em;
    margin-top: 3em;
    left: -10em;
  }
  .tl h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5em;
    margin-left: 0.5em;
  }
  .tl h2{
    color: #FFFFFF;
    font-size: 1.8em;
  }
  .tl span{
    font-size: 1.2em;
  }
  .tl img{
    width: 100%;
  }
  .question{
    left: 0;
    margin-left: 0;
  }
  .questionsDescrip{
    text-align: justify;
  }
  #ourQuestion{
    height: auto;
  }
  .rdDescrip {
    margin-bottom: 1em;
  }
  #LSTM{
    margin-top: 4em;
  }
  #LSTM, #arqui{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 1em;
  }
  #LSTM img, #arqui img, #gow img{
    width: 100%;
    margin-left: 0;
    margin-bottom: 1em;
    padding-bottom: 2em;
  }
  #arqui img{
    margin-bottom: 3em;
  }
  #arqui img, #gow img{
    margin-top: 5em;
  }
  #sistEtiquetado img, 
  #modeloDiscursivo img{
    width: 100%;
    margin-left: 0;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  #sistEtiquetado{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 1em;
  }
  #networkNodes img{
    width: 100%;
    margin-left: -2em;
  }
  #machineLearning .iconInfoMd img,
  #rhetoricDiscourse .iconInfoMd img,
  #naturalLanguage .iconInfoMd img{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1em;
  }
  #naturalLanguage img{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #naturalLanguage{
    margin-bottom: 6em;
  }
  #machineLearning h5,
  #rhetoricDiscourse h5,
  #naturalLanguage h5{
    text-align: center;
    font-weight: 600;
  }
  #machineLearning h6,
  #rhetoricDiscourse h6,
  #naturalLanguage h6{
    text-align: center;
    margin-bottom: 2em;
    font-weight: 600;
  }
  #ourTeam .teamList{
    line-height: 2em;
    height: auto;
    border: none;
    text-align: left;
  }
  #ourTeam .teamList a{
    color: #FFFFFF;
    font-weight: 600;
    padding: 0.5em 0 0.5em 0;
    text-align: left;
    font-size: 0.9em;
  }
  #ourTeam .teamList:first-child, 
  #ourTeam .teamList:last-child{
    padding-top: 0;
  }
  #ourTeam .teamList:last-child{
    padding-top: 0;
  }
  #ourTeam .teamList a:active{
    color: #E7DA91;
  }
  #ourTeam .teamList a:focus{
    outline: none;
    color: #E7DA91;
  }
  #ourTeam .teamList a:focus span{
    background-color: #E7DA91;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    border-radius: 50%;
    left: -0.3em;
    top: 0.85em;
  }
  #ourTeam .teamList a:hover{
    text-decoration: none;
    cursor: pointer;
  }
  .menuTeam{
    margin-bottom: 3em;
  }
  #associatedCard1{
    margin-left: 0;
  }
  #team_others{
    width: 100%; 
    margin-left: 0;
    margin-top: 1em;
  }
  #team_others .card{
    left: 0;
  }
  #team_others .lastCardRow{
    margin-left: 0;
  }
  .otherResearchersCard, .collaboratorsCard{
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    padding: 0;
  }
  .otherResearchersCard h5,
  .collaboratorsCard h5{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 1em;
    text-align: center;
  }
  #team_others .otherResearchersCard .card,
  #team_others .collaboratorsCard .card{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .otherResearchersCard p,
  .collaboratorsCard p{
    text-align: justify;
    font-size: 0.95em;
  }
  .collaboratorsCard:first-child p{
    font-size: 0.85em;
  }
  .copyrightText {
    margin-top: 0.8em;
    margin-left: 0;
    font-size: 0.8em;
  }
  .copyrightText p{
    margin-bottom: 1.8em;
  }
  .lateralDots{
    position: fixed;
    top: 92%;
    left: 0;
    background-color: #02102B;
    width: 100%;
    bottom: 0;
    height: 4em;
    padding-top: 0.9em;
    z-index: 10;
  }
  .dots{  
    text-align: left;
    display: inline-block;
    margin-left: 33%;
    height: 4em;
  }
  .dots ul{
    padding-left: 1em;
    display: inline-block;
  }
  .dots ul li{
    list-style: none;
    display: inline-block;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.3s;
  }
  .dots ul li a:focus{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 0.8em;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 768px){
  h2{
    font-size: 1.8em;
  }
  #researchGroup{
    background-image: url('../img/ourRD/fondo_pag_ini_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    height: 100vh;
  }

  #ourQuestion{
    background-image: url('../img/ourRD/paper.png');
    background-size: 155%;
    background-position: 60% 95%;
    background-repeat: no-repeat;
    height: 110vh;
  }
  .question{
    background-color: #FFFFFF;
    padding: 1em;
    -webkit-box-shadow: -24px 4px 70px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -24px 4px 70px -24px rgba(0,0,0,0.75);
    box-shadow: -24px 4px 70px -24px rgba(0,0,0,0.75);
    left: 0;
  }
  .questionsDescrip{
    text-align: justify;
  }
  #ourQuestion{
    height: auto;
  }
  .rdDescrip {
    margin-bottom: 1em;
  }
  .rdBtn:first-child{
    margin-left: -2.5em;
  }
  .rdBtn{
    margin:0.4em;
  }
  #LSTM{
    margin-top: 4em;
  }
  #LSTM, #arqui{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 1em;
  }
  #LSTM img, #arqui img, #gow img{
    width: 80%;
    margin-left: 4em;
    margin-bottom: 1em;
    padding-bottom: 2em;
  }
  #arqui img{
    margin-bottom: 3em;
  }
  #arqui img, #gow img{
    margin-top: 5em;
  }
  #sistEtiquetado img, 
  #modeloDiscursivo img{
    width: 100%;
    margin-left: 0;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  #sistEtiquetado{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 1em;
  }
  #networkNodes img{
    width: 100%;
    margin-left: -3.5em;
  }
  .iconInfoMd,.infoMdTl{
    display: inline-block;
    margin-bottom: 2em;
  }
  .infoMdTl{
    text-align: left;
    margin-left: 2em;
    top: 2em;
  }
  #naturalLanguage{
    margin-bottom: 6em;
  }
  #ourTeam .teamList{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #FFFFFF;
    height: 3.5em;
    text-align: center;
    font-size: 0.85em;
  }
  #ourTeam .teamList a{
    color: #FFFFFF;
    font-weight: 600;
    padding: 0.5em 0 0.5em 0;
  }
  #ourTeam .teamList:first-child, 
  #ourTeam .teamList:last-child{
    padding-top: 1em;
  }
  #ourTeam .teamList:last-child{
    padding-top: 1em;
    border-right: none;
    margin-top: 2em;
  }
  #ourTeam .teamList:nth-child(4){
    margin-top: 2em;
  }
  #ourTeam .teamList a:active{
    color: #E7DA91;
  }
  #ourTeam .teamList a:focus{
    outline: none;
    color: #E7DA91;
  }
  .menuTeam{
    margin-bottom: 3em;
    text-align: center;
  }
  #team_others{
    width: 100%; 
    margin-left: 7em;
    margin-top: 1em;
  }
  #team_others .card{
    left: 0;
  }
  #team_others .lastCardRow{
    margin-left: 0;
  }
  .associated:nth-child(3){
    margin-left: 9.5em;
  }
  .otherResearchersCard, .collaboratorsCard{
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    padding: 0;
  }
  .otherResearchersCard:last-child,
  .collaboratorsCard:last-child{
    margin-left: 8em;
  }
  .otherResearchersCard h5,
  .collaboratorsCard h5{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 1em;
    text-align: center;
  }
  #team_others .otherResearchersCard .card,
  #team_others .collaboratorsCard .card{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding:;
  }
  .otherResearchersCard p,
  .collaboratorsCard p{
    text-align: justify;
    font-size: 0.95em;
  }
  .collaboratorsCard:first-child p{
    font-size: 0.85em;
  }
  .copyrightText {
    margin-top: 0.8em;
    margin-left: 1em;
    font-size: 0.8em;
  }
  .copyrightText p{
    margin-bottom: 0;
  }
  .logoWW{
    width: 40%;
  }
  .lateralDots{
    position: fixed;
    top: 45%;
    left: 94%;
  }
  .dots{  
    text-align: left;
  }
  .dots ul{
    padding-left: 1em;
  }
  .dots ul li{
    list-style: none;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.8s;
  }
  .dots>ul li a:focus{
    color: #21315B;
    transition: all 0.8s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 0.8em;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1023px){
  #ourQuestion{
    background-image: url('../img/ourRD/paper.png');
    background-size: 110%;
    background-position: 150% 95%;
    background-repeat: no-repeat;
    height: 110vh;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px){
  #ourQuestion{
    background-image: url('../img/ourRD/paper.png');
    background-size: 110%;
    background-position: 150% 95%;
    background-repeat: no-repeat;
    height: 110vh;
  }
  .rdBtn:first-child {
    margin-left: 6em;
  }
  .lateralDots{
    position: fixed;
    top: 45%;
    left: 95%;
  }
  .dots{  
    text-align: left;
  }
  .dots ul{
    padding-left: 1em;
  }
  .dots ul li{
    list-style: none;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.8s;
  }
  .dots>ul li a:focus{
    color: #21315B;
    transition: all 0.8s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 0.8em;
  }
}
@media only screen and (min-device-width: 1700px){
  #ourQuestion{
    background-image: url('../img/ourRD/paper.png');
    background-size: 90%;
    background-position: 30% 115%;
    background-repeat: no-repeat;
    height: 90vh;
  }
  .question{
    left: 6;
  }
  .question:first-child{
    margin-top: 4em;
  }
  .rdBtn:first-child {
    margin-left: 7.5em;
  }
  .lateralDots{
    position: fixed;
    top: 45%;
    left: 95%;
  }
  .dots{  
    text-align: left;
  }
  .dots ul{
    padding-left: 1em;
  }
  .dots ul li{
    list-style: none;
  }
  .dots ul li a{
    color: #BBBBBB;
    transition: all 0.8s;
  }
  .dots>ul li a:focus{
    color: #21315B;
    transition: all 0.8s;
  }
  .dots ul li a:active{
    color: #21315B;
    transition: all 0.3s;
  }
  .dots ul li a .svg-inline--fa{
    font-size: 0.8em;
  }
  #ourTeam svg #bigTriangleColor{
    top:-1em;
  }
}