/*Fuente open sans */
body{
  font-family: 'Open Sans', sans-serif;
}

/*menu*/
.menu{
  margin-bottom: 0;
}

.logoContainer a{
  padding: 0;
}

.logo{
  width: 35%;
}
/*fin menu*/

/*sección home*/
.home{
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.home h1{
  margin-top: 24%;
  color: #FFF;
  font-weight: 700;
  font-size: 4em;
}

.home h3{
  color: #FFF;
  font-weight: 600;
  font-size: 2.5em;
}
/*fin sección home*/

/*sección about*/
.about{
  height: 100vh;
}

.about h1{
  margin-top: 15%;
  margin-bottom: 10%;
}

.imgSlider{
  margin-top: 5%;
}

.aboutImg img{
  width: 90%;
}