/* Fuente open sans */
body{
  font-family: 'Open Sans', sans-serif;
}
section{
  height: auto;
}

/*NAVBAR
*--------------------------------*/
.menu{
  margin-bottom: 0;
}
.logoContainer a{
  padding: 0;
}
.logo{
  width:6em;
}
ul li{
  font-size: 0.8em;
}

/*HOME
*--------------------------------*/
.home{
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home h1{
  margin-top: 24%;
  color: #FFF;
  font-weight: 700;
  font-size: 4em;
}
.home h3{
  color: #FFF;
  font-weight: 600;
  font-size: 2.5em;
}
.home::after{
background: linear-gradient(to top, rgba(72,102,194,1) 0%, rgba(16,28,97,1) 100%), url(../img/home.jpg);
}
/*fin sección home*/

/*ABOUT
*--------------------------------*/
.about{
  background-image: url(../img/about/fondo.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  background-color:#0F2280;
}
.about h1{
  margin-top: 3em;
  margin-bottom: 1em;
  font-weight: 700;
}
.about p{
  text-align-last: center;
}
.about h5{
  font-size: 0.8em;
  font-weight: 600;
} 
#about .card{
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 1em;
  margin-top: 2.5em;
  margin-right: 1.5em;
  transition: 0.5s;
  -webkit-transition:0.5s;
  color: #FFFFFF;
}

#about .card-header{
  height: 4em;
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
  padding-left: 0;
  padding-right: 0;
}
.title1{
  padding-top: 1em;
}
.title2, .title3, .title4, .title5{
  padding-top: 1.5em;
}
#about .card img{
  width: 70%;
  margin: 1.6em;
}
.cards2{
  padding-bottom: 10em;
}

/*CORE TEAM
*--------------------------------*/
.title{
  margin-top: 5em;
  margin-bottom: 3em;
}
.title img{
  width: 15em;
  border-radius: none;
}
.title h1{
  display: inline-block;
  color:#21315B;
  font-weight: 700;
  vertical-align: middle;
  margin-left: 0.5em;
}
.descripCoreTeam{
  text-align-last: center;
  color:#2B417B;
}
#coreTeam .card{
  border: none;
  margin-top: 2em;
  margin-right: 1em;
  margin-right: 1.5em;
  padding: 0;
}
#coreTeam .card:hover{
  -webkit-box-shadow: 0px 27px 55px -33px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 27px 55px -33px rgba(0,0,0,0.4);
  box-shadow: 0px 27px 55px -33px rgba(0,0,0,0.4);
  filter: grayscale(100%);
  cursor: pointer;
}
#coreTeam .card h3{
  font-size: 0.8em;
  font-weight: 600;
}
#coreTeam .card p{
  font-size: 0.7em;
}
#Capa_1{
  margin-top: 3em;
}
.teamMembers{
  margin-top: 1.5em;
}
.perfiles img{
  width: 50%;
  filter: grayscale(100%);
  filter: opacity(0.3);
  transition: 0.8s;
}
.perfiles img:hover{
  width: 50%;
  filter: grayscale(0);
  filter: opacity(100);
  cursor: pointer;
  -webkit-transform: scale(0.8);
  transition: 0.8s;
}

/*KNOW MORE
*--------------------------------*/
#bigTriangleColor{
  fill: #FFFFFF;
}
#knowMore{
  background-image: url(../img/knowMore/fondo.jpg);
  background-size: cover;
  background-position: 50%;
  color: #FFFFFF;
}
.knowMoreTitle{
  margin-top: 5em;
  margin-bottom: 3em;
}
.knowMoreTitle h1{
  font-weight: 700;
}
.descriptKnowMore{
  text-align-last: center;
}
.icons{
  margin-top: 5em;
  padding-bottom: 15em;
}
.icons img:hover{
  cursor: pointer;
  background-color: rgba(9,12,51,0.44);
  border: 0;
  color: #FFF;
  transition: all 0.8s;
}
.icons img::before, .icons img::after {
  z-index: 3;
  content:'';
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: all 0.8s;
}
.icons img{
  width: 80%;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  margin-bottom: 3em;
  transition: all 0.8s;
  -webkit-transition:0.5s;
  color: #FFFFFF;
}
.icons h5{
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

/*COLLABORATORS
*--------------------------------*/
#collaborators h1{
  margin-top: 3em;
  margin-bottom: 1em;
  font-weight: 700;
  color: #21315B;
}
.misti img, 
.innova img, 
.imagine img, 
.biopub img,
.ucInformatica img{
  width: 70%;
  text-align: center;
}
.descripCollaborators{
  text-align-last: center;
}
.logotipos{
  margin-top: 3em;
}
.logotipos:last-child{
  padding-bottom: 6em;
}
.ucLiteratura img{
  width: 100%;
}
/*CONTACT
*--------------------------------*/
#contact{
  background-image: url(../img/contact/fondo.jpg);
  background-size: cover; 
  color: #FFFFFF;
}
#contact h1{
  font-weight: 700;
  margin-top: 3em;
  margin-bottom: 1em;
}
.name, .email{
  display: inline-block;
}
#contact form{
  width: 100%;
  background-color: rgba(9,12,51,0.2);
  padding: 2.5em 1.5em;
  margin-bottom: 4em;
}
#contact input, #contact textarea{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  border-radius: 0;
  resize: none;
}
#contact input:focus, #contact textarea:focus{
  box-shadow: none;
}
#contact button{
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #9691C7;
  margin-top: 2em;
  padding: 0.5em 2em;  
  transition: 0.5s;
  -webkit-transition:0.5s;
}
#contact button::before, #contact button::after {
  z-index: 3;
  content:'';
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}
#contact button:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  color: #1B126E;
  border: 2px solid #FFFFFF;
  transition: 0.5s;
}
#contact img{
  width: 15%;
  padding-right: 0.5em;
}
.contactIcons{
  padding-bottom: 4em;
}

/*FOOTER
*--------------------------------*/
footer{
  background-color: #02102B;
  color: #FFFFFF;
}
footer img{
  width: 30%;
}
.footer{
  padding-top: 3em;
  padding-bottom: 3em;
}
.copyright{
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
}
.copyright p{
  margin: 0;
}


